<div class="container mt-5">
  <div class="row">
   <div class="mx-auto">
     <h2 class="font-weight-bold mb-5">予約情報確認</h2>
    </div>
  </div>

  <div class="row">
    <div class="mt-5 mx-auto">
      <img src="/assets/confirm_input_contents.png" class="mb-5">
    </div>
  </div>

  <div class="row">
   <div class="col-8 mx-auto">
      <p class="font-weight-bold">【予約内容】</p>
       <table class ="table border border-black">
         <tbody>
           <tr>
             <th class="table-secondary align-middle", style="width: 30%;">利用希望日時</th>
             <td class="align-middle", style="width: 70%;"><%= @reservation.day.strftime('%Y年%m月%d日 ') %><%= japanese_day(@reservation.day) %>　<%= @reservation.start_time.strftime('%H:%M') %>　〜　<%= @reservation.end_time.strftime('%H:%M') %></td>
           </tr>
           <tr>
             <th class="table-secondary align-middle", style="width: 30%;">施設名</th>
             <td class="align-middle", style="width: 70%;"><%= @reservation.facility.name %></td>
           </tr>
           <tr>
             <th class="table-secondary align-middle", style="width: 30%;">給食の有無</th>
             <td class="align-middle", style="width: 70%;">
              <% if @reservation.wants_meal_service %>
              あり
              <% else %>
              なし
              <% end %>
             </td>
           </tr>
           <tr>
              <th class="table-secondary align-middle", style="width: 30%;">利用目的</th>
              <td class="align-middle", style="width: 70%;">
              <% if @reservation.atypical? %>
              <%= I18n.t("enums.reservation.purpose_of_use.atypical") %>
              <% elsif @reservation.emergency? %>
              <%= I18n.t("enums.reservation.purpose_of_use.emergency") %>
              <% elsif @reservation.private_business? %>
              <%= I18n.t("enums.reservation.purpose_of_use.private_business") %>
              <% end %>
             </td>
           </tr>
         </tbody>
       </table>
      <p class="font-weight-bold mt-5">【アカウント情報】</p>
      <table class ="table border border-black">
        <tbody>
          <tr>
            <th class="table-secondary align-middle", style="width: 30%;">保護者氏名</th>
            <td class="align-middle", style="width: 70%;"><%= @reservation.customer.last_name %><%= @reservation.customer.first_name %></td>
          </tr>
          <tr>
            <th class="table-secondary align-middle", style="width: 30%;">フリガナ</th>
            <td class="align-middle", style="width: 70%;"><%= @reservation.customer.last_name_kana %><%= @reservation.customer.first_name_kana %></td>
          </tr>
          <tr>
            <th class="table-secondary align-middle", style="width: 30%;">住所</th>
            <td class="align-middle", style="width: 70%;">
              〒<%= @reservation.customer.postal_code %><br>
              <%= @reservation.customer.address %>
            </td>
          </tr>
          <tr>
            <th class="table-secondary align-middle", style="width: 30%;">電話番号</th>
            <td class="align-middle", style="width: 70%;"><%= @reservation.customer.telephone_number %></td>
          </tr>
          <tr>
            <th class="table-secondary align-middle", style="width: 30%;">メールアドレス</th>
            <td class="align-middle", style="width: 70%;"><%= @reservation.customer.email %></td>
          </tr>
        </tbody>
      </table>
      <p class="font-weight-bold mt-5">【お子さま情報】</p>
      <table class ="table border border-black">
        <tbody>
          <tr>
            <th class="table-secondary align-middle", style="width: 30%;">お子さま氏名</th>
            <td class="align-middle", style="width: 70%;"><%= @reservation.child.last_name %><%= @reservation.child.first_name %></td>
          </tr>
          <tr>
            <th class="table-secondary align-middle", style="width: 30%;">フリガナ</th>
            <td class="align-middle", style="width: 70%;"><%= @reservation.child.last_name_kana %><%= @reservation.child.first_name_kana %></td>
          </tr>
          <tr>
            <th class="table-secondary align-middle", style="width: 30%;">生年月日</th>
            <td class="align-middle", style="width: 70%;">
              <%= @reservation.child.birthday.strftime("%Y年%m月%d日") %>
            </td>
          </tr>
          <tr>
            <th class="table-secondary align-middle", style="width: 30%;">性別</th>
            <td class="align-middle", style="width: 70%;">
              <% if @reservation.child.male %>
              男
              <% else %>
              女
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
      <p class="font-weight-bold mt-5">【主な送迎者】</p>
      <table class ="table border border-black">
        <tbody>
          <tr class="table-secondary">
            <th class="align-middle">氏名</th>
            <th class="align-middle">続柄</th>
            <th class="align-middle">連絡先</th>
          </tr>
          <tr>
            <td class="align-middle"><%= @reservation.families.first.last_name %><%= @reservation.families.first.first_name %></td>
            <td class="align-middle"><% if @reservation.families.first.mother? %>
                <%= I18n.t("enums.family.relationship.mother") %>
                <% elsif @reservation.families.first.father? %>
                <%= I18n.t("enums.family.relationship.father") %>
                <% elsif @reservation.families.first.grandmother? %>
                <%= I18n.t("enums.family.relationship.grandmother") %>
                <% elsif @reservation.families.first.grandfather? %>
                <%= I18n.t("enums.family.relationship.grandfather") %>
                <% elsif @reservation.families.first.other? %>
                <%= I18n.t("enums.family.relationship.other") %>
                <% end %>
            </td>
            <td class="align-middle"><%= @reservation.families.first.telephone_number %></td>
          </tr>
        </tbody>
      </table>
      <p class="font-weight-bold mt-5">【緊急連絡先】</p>
      <table class ="table border border-black">
        <tbody>
          <tr class="table-secondary">
            <th class="align-middle">氏名</th>
            <th class="align-middle">続柄</th>
            <th class="align-middle">連絡先</th>
          </tr>
          <% @reservation.families.last(@reservation.families.size == 3 ? 2:1).each do |emergency_contact| %>
          <tr>
            <td class="align-middle"><%= emergency_contact.family_name %></td>
            <td class="align-middle"><% if emergency_contact.mother? %>
                <%= I18n.t("enums.family.relationship.mother") %>
                <% elsif emergency_contact.father? %>
                <%= I18n.t("enums.family.relationship.father") %>
                <% elsif emergency_contact.grandmother? %>
                <%= I18n.t("enums.family.relationship.grandmother") %>
                <% elsif emergency_contact.grandfather? %>
                <%= I18n.t("enums.family.relationship.grandfather") %>
                <% elsif emergency_contact.other? %>
                <%= I18n.t("enums.family.relationship.other") %>
                <% end %>
            </td>
            <td class="align-middle"><%= emergency_contact.telephone_number %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div><br><br>

  <div class="row">
   <div class="mx-auto">
      <%= form_with model: @reservation, url: reservations_path, method: :post do |f| %>
      <%= f.hidden_field :customer_id, :value => @reservation.customer.id %>
      <%= f.hidden_field :child_id, :value => @reservation.child.id %>
      <%= f.hidden_field :facility_id, :value => @reservation.facility.id %>
      <%= f.hidden_field :family_id, :value => @reservation.families %>
      <%= f.hidden_field :menu_id, :value => @menu_id %>
      <%= f.hidden_field :day, :value => @reservation.day %>
      <%= f.hidden_field :start_time, :value => @reservation.start_time %>
      <%= f.hidden_field :end_time, :value => @reservation.end_time %>
      <%= f.hidden_field :wants_meal_service, :value => @reservation.wants_meal_service %>
      <%= f.hidden_field :purpose_of_use, :value => @reservation.purpose_of_use %>
      <%= link_to "戻る", :back, class: "btn btn-outline-warning px-4 mr-5" %><%= f.submit "予約を確定する", class: "font-weight-bold btn btn-warning px-4" %>
      <% end %>
    </div>
  </div>
</div><br><br><br>