<div class="container mt-5">
  <div class="row">
   <div class="mx-auto">
     <h2 class="font-weight-bold">予約情報確認</h2>
      <p class="font-weight-bold">【予約内容】</p>
       <table class ="table border border-black">
         <tbody>
           <tr>
             <th>利用希望日時</th>
             <td><%= @reservation.day.strftime('%Y年%m月%d日 ') %><%= japanese_day(@reservation.day) %>　<%= @reservation.start_time.strftime('%H:%M') %>　〜　<%= @reservation.end_time.strftime('%H:%M') %></td>
           </tr>
           <tr>
             <th>施設名</th>
             <td><%= @reservation.facility.name %></td>
           </tr>
           <tr>
             <th>給食の有無</th>
             <td>
              <% if @reservation.wants_meal_service %>
              あり
              <% else %>
              なし
              <% end %>
             </td>
           </tr>
           <tr>
              <th>利用目的</th>
              <td>
              <% if @reservation.atypical? %>
              <%= I18n.t("enums.reservation.purpose_of_use.atypical") %>
              <% elsif @reservation.emergency? %>
              <%= I18n.t("enums.reservation.purpose_of_use.emergency") %>
              <% elsif @reservation.private_business? %>
              <%= I18n.t("enums.reservation.purpose_of_use.private_business") %>
              <% end %>
             </td>
           </tr>
         </tbody>
       </table>
      <p class="font-weight-bold mt-5">【アカウント情報】</p>
      <table class ="table border border-black">
        <tbody>
          <tr>
            <th>保護者氏名</th>
            <td><%= @reservation.customer.last_name %><%= @reservation.customer.first_name %></td>
          </tr>
          <tr>
            <th>フリガナ</th>
            <td><%= @reservation.customer.last_name_kana %><%= @reservation.customer.first_name_kana %></td>
          </tr>
          <tr>
            <th>住所</th>
            <td>
              〒<%= @reservation.customer.postal_code %><br>
              <%= @reservation.customer.address %>
            </td>
          </tr>
          <tr>
            <th>電話番号</th>
            <td><%= @reservation.customer.telephone_number %></td>
          </tr>
          <tr>
            <th>メールアドレス</th>
            <td><%= @reservation.customer.email %></td>
          </tr>
        </tbody>
      </table>
      <p class="font-weight-bold mt-5">【お子さま情報】</p>
      <table class ="table border border-black">
        <tbody>
          <tr>
            <th>お子さま氏名</th>
            <td><%= @reservation.child.last_name %><%= @reservation.child.first_name %></td>
          </tr>
          <tr>
            <th>フリガナ</th>
            <td><%= @reservation.child.last_name_kana %><%= @reservation.child.first_name_kana %></td>
          </tr>
          <tr>
            <th>生年月日</th>
            <td>
              <%= @reservation.child.birthday.strftime("%Y年%m月%d日") %>
            </td>
          </tr>
          <tr>
            <th>性別</th>
            <td>
              <% if @reservation.child.male %>
              男
              <% else %>
              女
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
      <p class="font-weight-bold mt-5">【主な送迎者】</p>
      <table class ="table border border-black">
        <tbody>
          <tr>
            <th>氏名</th>
            <th>続柄</th>
            <th>連絡先</th>
          </tr>
          <tr>
            <td><%= @reservation.families.first.last_name %><%= @reservation.families.first.first_name %></td>
            <td><% if @reservation.families.first.mother? %>
                <%= I18n.t("enums.family.relationship.mother") %>
                <% elsif @reservation.families.first.father? %>
                <%= I18n.t("enums.family.relationship.father") %>
                <% elsif @reservation.families.first.grandmother? %>
                <%= I18n.t("enums.family.relationship.grandmother") %>
                <% elsif @reservation.families.first.grandfather? %>
                <%= I18n.t("enums.family.relationship.grandfather") %>
                <% elsif @reservation.families.first.other? %>
                <%= I18n.t("enums.family.relationship.other") %>
                <% end %>
            </td>
            <td><%= @reservation.families.first.telephone_number %></td>
          </tr>
        </tbody>
      </table>
      <p class="font-weight-bold mt-5">【緊急連絡先】</p>
      <table class ="table border border-black">
        <tbody>
          <tr>
            <th>氏名</th>
            <th>続柄</th>
            <th>連絡先</th>
          </tr>
          <% @reservation.families.last(@reservation.families.size == 3 ? 2:1).each do |emergency_contact| %>
          <tr>
            <td><%= emergency_contact.family_name %></td>
            <td><% if emergency_contact.mother? %>
                <%= I18n.t("enums.family.relationship.mother") %>
                <% elsif emergency_contact.father? %>
                <%= I18n.t("enums.family.relationship.father") %>
                <% elsif emergency_contact.grandmother? %>
                <%= I18n.t("enums.family.relationship.grandmother") %>
                <% elsif emergency_contact.grandfather? %>
                <%= I18n.t("enums.family.relationship.grandfather") %>
                <% elsif emergency_contact.other? %>
                <%= I18n.t("enums.family.relationship.other") %>
                <% end %>
            </td>
            <td><%= emergency_contact.telephone_number %></td>
          </tr>
          <% end %>
        </tbody>
      </table>

      <%= form_with model: @reservation, url: reservations_path, method: :post do |f| %>
      <%= f.hidden_field :menu_id, :value => menu_id %>
      <%= link_to "戻る", :back, class: "btn btn-outline-warning px-4 mr-5" %><%= f.submit "予約を確定する", class: "font-weight-bold btn btn-warning px-4" %>
      <% end %>
    </div>
  </div>
</div>