<div class="container mt-3">
  <div class="row">
    <div class="col-12 text-center">
    <h2 class="font-weight-bold mb-5">予約一覧</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-10 col-lg-10 mx-auto">
      <div class="table-responsive">
        <table class ="table border border-black table-light">
          <thead>
            <tr class="text-center">
              <th class="table-secondary align-middle", style="width: 25%;">予約日</th>
              <th class="table-secondary align-middle", style="width: 25%;">施設名</th>
              <th class="table-secondary align-middle", style="width: 20%;">お子さま氏名</th>
              <th class="table-secondary align-middle", style="width: 15%;">ステータス</th>
              <th class="table-secondary align-middle", style="width: 15%;"></th>
            </tr>
          </thead>
          <% @reservations.each do |reservation| %>
          <tbody>
            <tr>
              <td class="align-middle", style="width: 25%;"><%= reservation.day.strftime('%Y年%m月%d日 ') %><%= japanese_day(reservation.day) %></td>
              <td class="align-middle", style="width: 25%;"><%= reservation.facility.name %></td>
              <td class="align-middle", style="width: 20%;"><%= reservation.child.last_name %><%= reservation.child.first_name %></td>
              <td class="align-middle text-center", style="width: 15%;">
                <% if reservation.is_valid_reservation %>
                  <span>予約確定</span>
                <% else %>
                  <span class="text-secondary font-weight-bold">キャンセル</span>
                <% end %>
              </td>
              <td class="align-middle text-center", style="width: 15%;"><%= link_to "詳細", reservation_path(reservation.id), class: "btn btn-custom px-3" %></td>
            </tr>
          </tbody>
          <% end %>
        </table>
      </div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="mx-auto">
      <%= paginate @reservations %>
    </div>
  </div>

  <div class="row mt-5 mb-5">
    <div class="mx-auto">
      <%= link_to "戻る", :back, class: "btn btn-outline-secondary px-4" %>
    </div>
  </div>
</div>