<div class="container mt-5">
  <div class="row">
    <div class="mx-auto">
    <h2 class="font-weight-bold mb-5"><%= @facility.name %>詳細</h2>
    </div>
  </div>

<div class="row">
    <div class="mt-3 mx-auto">
      <h2 class="font-weight-bold">予約状況</h2><br>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mx-auto mb-5">
      <%= week_calendar events: @reservations do |date, reservations| %>
        <%= date.day %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-11 mx-auto">
      <table class="table border border-black">
        <tbody>
          <tr>
            <th class="table-secondary align-middle">施設名</th>
            <td class="align-middle"><%= @facility.name %></td>
          </tr>
          <tr>
            <th class="table-secondary align-middle">フリガナ</th>
            <td class="align-middle"><%= @facility.name_kana %></td>
          </tr>
          <tr>
            <th class="table-secondary align-middle">住所</th>
            <td class="align-middle">〒<%= @facility.postal_code %><br>
                <%= @facility.address %>
            </td>
          </tr>
          <tr>
            <th class="table-secondary align-middle">電話番号</th>
            <td class="align-middle"><%= @facility.telephone_number %></td>
          </tr>
          <tr>
            <th class="table-secondary align-middle">メールアドレス</th>
            <td class="align-middle"><%= @facility.email %></td>
          </tr>
          <tr>
            <th class="table-secondary align-middle">HP</th>
            <td class="align-middle"><%= @facility.website %></td>
          </tr>
          <tr>
            <th class="table-secondary align-middle">営業日</th>
            <td class="align-middle"><%= @facility.business_day %></td>
          </tr>
          <tr>
            <th class="table-secondary align-middle">営業時間</th>
            <td class="align-middle"><%= @facility.business_hours %></td>
          </tr>
          <tr>
            <th class="table-secondary align-middle">問い合わせ時間</th>
            <td class="align-middle"><%= @facility.inquiry_hours %></td>
          </tr>
          <tr>
            <th class="table-secondary align-middle">休園日</th>
            <td class="align-middle"><%= @facility.closed_day %></td>
          </tr>
          <tr>
            <th class="table-secondary align-middle">一時預かり保育時間</th>
            <td class="align-middle"><%= @facility.childcare_hours %></td>
          </tr>
          <tr>
            <th class="table-secondary align-middle">受け入れ年齢</th>
            <td class="align-middle"><%= @facility.target_age %></td>
          </tr>
          <tr>
            <th class="table-secondary align-middle">給食の有無</th>
            <td class="align-middle">
              <%= @facility.school_meal %>
              <%= link_to "献立を見る", menus_path(facility_id: @facility.id), class: "btn btn-warning px-4 ml-5" %>
            </td>
          </tr>
          <tr>
            <th class="table-secondary align-middle">利用料金</th>
            <td class="align-middle"><%= @facility.fee %></td>
          </tr>
          <tr>
            <th class="table-secondary align-middle">施設からのメッセージ</th>
            <td class="align-middle"><%= @facility.message %></td>
          </tr>
        </tbody>
      </table><br><br>
    </div>
  </div>

  <div class="row">
    <div class="mt-3 mx-auto">
      <%= link_to "戻る", :back, class: "btn btn-outline-warning px-4 mr-5" %>
      <%= link_to "予約へ進む", new_reservation_path(facility_id: @facility.id), class: "btn btn-warning px-4" %>
    </div>
  </div>
</div><br><br><br>