<%= form_with url: facility_search_path, local: true, method: :get do |f| %>
  <div class="row mt-5">
    <div class="col-xl-10 col-lg-10 mx-auto">
      <div class="search_form">
        <%= f.text_field :word, placeholder: "予約ID、予約日など", class: "py-1 ml-3 mr-3" %>
        <%= f.select :search, options_for_select([["完全一致","perfect_match"], ["前方一致","forward_match"], ["後方一致","backward_match"], ["部分一致","partial_match"]]) %>
        <%= f.hidden_field :model, value: 'Reservation' %>
        <%= f.hidden_field :facility, value: current_facility.id %>
        <%= f.submit "検索", class: "btn btn-custom px-4 font-weight-bold ml-3" %>
      </div>
    </div>
  </div>
<% end %>