<div class="container mt-5">
  <div class="row">
    <div class="mx-auto">
      <h3 class="mb-3 font-weight-bold mb-5">アカウント詳細</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-11 col-lg-11 mx-auto">
    <p class="font-weight-bold">アカウント詳細</p>
    <div class="table-responsive">
    <table class="table border border-black">
      <tbody>
        <tr>
          <th class="align-middle table-secondary" style="width: 30%;">氏名</th>
          <td class="align-middle" style="width: 70%;"><%= @customer.last_name %><%= @customer.first_name %></td>
        </tr>
        <tr>
          <th class="align-middle table-secondary" style="width: 30%;">フリガナ</th>
          <td class="align-middle" style="width: 70%;"><%= @customer.last_name_kana %><%= @customer.first_name_kana %></td>
        </tr>
        <tr>
          <th class="align-middle table-secondary" style="width: 30%;">住所</th>
          <td class="align-middle" style="width: 70%;">
            〒<%= @customer.postal_code %><br>
            <%= @customer.address %>
          </td>
        </tr>
        <tr>
          <th class="align-middle table-secondary" style="width: 30%;">電話番号</th>
          <td class="align-middle" style="width: 70%;"><%= @customer.telephone_number %></td>
        </tr>
        <tr>
          <th class="align-middle table-secondary" style="width: 30%;">メールアドレス</th>
          <td class="align-middle" style="width: 70%;"><%= @customer.email %></td>
        </tr>
      </body>
    </table><br>
    </div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-xl-11 col-lg-11 mx-auto">
      <p class="font-weight-bold">お子さま詳細</p>
    </div>
  </div>

  <div class="row mb-5">
    <div class="col-xl-11 col-lg-11 mx-auto">
      <% @active_children.each do |child| %>
      <div class="table-responsive">
      <table class="table border border-black">
        <tbody>
          <tr>
            <th class="align-middle table-secondary" style="width: 30%;">お子さま氏名</th>
            <td class="align-middle" style="width: 70%;"><%= child.last_name %><%= child.first_name %></td>
          </tr>
          <tr>
            <th class="align-middle table-secondary" style="width: 30%;">フリガナ</th>
            <td class="align-middle" style="width: 70%;"><%= child.last_name_kana %><%= child.first_name_kana %></td>
          </tr>
          <tr>
            <th class="align-middle table-secondary" style="width: 30%;">生年月日</th>
            <td class="align-middle" style="width: 70%;"><%= child.birthday.strftime("%Y年%m月%d日") %>（<%= age_in_years(child.birthday) %>歳<%= age_in_months(child.birthday) %>ヶ月）</td>
         </tr>
          <tr>
            <th class="align-middle table-secondary" style="width: 30%;">性別</th>
            <td class="align-middle" style="width: 70%;">
              <% if child.male %>
              <span>男</span>
              <% else %>
              <span>女</span>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
      </div>
      <br>

      <p class="font-weight-bold">育成状況</p>
      <div class="table-responsive">
      <table class="table border border-black">
        <tbody>
          <tr>
            <th class="table-secondary align-middle" style="width: 20%;">平熱(℃)</th>
            <td class="align-middle" style="width: 30%;"><%= child.normal_body_temperature %></td>
            <th class="table-secondary align-middle" style="width: 20%;">発熱時の連絡(℃)</th>
            <td class="align-middle" style="width: 30%;"><%= child.fever %></td>
          </tr>
          <tr>
            <th class="table-secondary align-middle" style="width: 20%;">熱性痙攣</th>
            <td class="align-middle" style="width: 30%;">
              <% if child.has_febrile_seizure %>
              <span>有</span>
              <% else %>
              <span>無</span>
              <% end %>
            </td>
            <th class="table-secondary align-middle" style="width: 20%;">熱性痙攣詳細</th>
            <td class="align-middle" style="width: 30%;"><% child.febrile_seizure_details %></td>
          </tr>
          <tr>
            <th class="table-secondary align-middle" style="width: 20%;">脱臼</th>
            <td class="align-middle" style="width: 30%;">
              <% if child.has_dislocation %>
              <span>有</span>
              <% else %>
              <span>無</span>
              <% end %>
            </td>
            <th class="table-secondary align-middle" style="width: 20%;">脱臼詳細</th>
            <td class="align-middle" style="width: 30%;"><%= child.dislocation_details %></td>
          </tr>
          <tr>
            <th class="table-secondary align-middle" style="width: 20%;">アレルギー</th>
            <td class="align-middle" style="width: 30%;">
              <% if child.has_allergy %>
              <span>有</span>
              <% else %>
              <span>無</span>
              <% end %>
            </td>
            <th class="table-secondary align-middle" style="width: 20%;">アレルギー詳細</th>
            <td class="align-middle" style="width: 30%;"><%= child.allergy_details %></td>
          </tr>
          <tr>
            <th class="table-secondary align-middle" style="width: 20%;">授乳状況</th>
            <td class="align-middle" style="width: 30%;"><%= breastfeeding_status_i18n_text(child) %></td>
            <th class="table-secondary align-middle" style="width: 20%;">授乳量</th>
            <td class="align-middle" style="width: 30%;"><%= child.breastfeeding_amount %></td>
          </tr>
          <tr>
            <th class="table-secondary align-middle" style="width: 20%;">授乳後の状況</th>
            <td class="align-middle" style="width: 30%;"><%= situation_after_breastfeeding_i18n_text(child) %></td>
            <th class="table-secondary align-middle" style="width: 20%;">離乳食後のミルク状況</th>
            <td class="align-middle" style="width: 30%;"><%= milk_situation_after_baby_food_i18n_text(child) %></td>
          </tr>
          <tr>
            <th class="table-secondary align-middle" style="width: 20%;">離乳食後のミルク量(cc)</th>
            <td class="align-middle" style="width: 30%;"><%= child.amount_of_milk_after_baby_food %></td>
            <th class="table-secondary align-middle" style="width: 20%;">離乳食の進み具合</th>
            <td class="align-middle" style="width: 30%;"><%= baby_food_progress_i18n_text(child) %></td>
          </tr>
          <tr>
            <th class="table-secondary align-middle" style="width: 20%;">食欲</th>
            <td class="align-middle" style="width: 30%;"><%= appetite_i18n_text(child) %></td>
            <th class="table-secondary align-middle" style="width: 20%;">好きな食べ物</th>
            <td class="align-middle" style="width: 30%;"><%= child.favorite_food %></td>
          </tr>
          <tr>
            <th class="table-secondary align-middle" style="width: 20%;">嫌いな食べ物</th>
            <td class="align-middle" style="width: 30%;"><%= child.hated_food %></td>
            <th class="table-secondary align-middle" style="width: 20%;">食べ方</th>
            <td class="align-middle" style="width: 30%;"><%= how_to_eat_i18n_text(child) %></td>
          </tr>
          <tr>
            <th class="table-secondary align-middle" style="width: 20%;">食事時間(分）</th>
            <td class="align-middle" style="width: 30%;"><%= child.meal_time %></td>
            <th class="table-secondary align-middle" style="width: 20%;">寝かせ方</th>
            <td class="align-middle" style="width: 30%;"><%= how_to_lay_it_down_i18n_text(child) %></td>
          </tr>
          <tr>
            <th class="table-secondary align-middle" style="width: 20%;">寝つき</th>
            <td class="align-middle" style="width: 30%;"><%= falling_asleep_i18n_text(child) %></td>
            <th class="table-secondary align-middle" style="width: 20%;">寝起き</th>
            <td class="align-middle" style="width: 30%;"><%= waking_up_i18n_text(child) %></td>
          </tr>
          <tr>
            <th class="table-secondary align-middle" style="width: 20%;">寝る時の姿勢</th>
            <td class="align-middle" style="width: 30%;"><%= sleeping_position_i18n_text(child) %></td>
            <th class="table-secondary align-middle" style="width: 20%;">熟睡度</th>
            <td class="align-middle" style="width: 30%;">
              <% if child.is_deep_sleep.nil? %>

              <% elsif child.is_deep_sleep %>
              <span>深い</span>
              <% else %>
              <span>浅い</span>
              <% end %>
            </td>
          </tr>
          <tr>
            <th class="table-secondary align-middle" style="width: 20%;">寝る時の癖</th>
            <td class="align-middle" style="width: 30%;"><%= child.habits_when_sleeping %></td>
            <th class="table-secondary align-middle" style="width: 20%;">おむつ状況</th>
            <td class="align-middle" style="width: 30%;"><%= diaper_usage_i18n_text(child) %></td>
          </tr>
          <tr>
            <th class="table-secondary align-middle" style="width: 20%;">かぶれ</th>
            <td class="align-middle" style="width: 30%;">
              <% if child.is_sensitive_to_rash.nil? %>

              <% elsif child.is_sensitive_to_rash %>
              <span>かぶれやすい</span>
              <% else %>
              <span>かぶれにくい</span>
              <% end %>
            </td>
            <th class="table-secondary align-middle" style="width: 20%;">排尿</th>
            <td class="align-middle" style="width: 30%;"><%= urination_i18n_text(child) %></td>
          </tr>
          <tr>
            <th class="table-secondary align-middle" style="width: 20%;">排便</th>
            <td class="align-middle" style="width: 30%;"><%= defecation_i18n_text(child) %></td>
            <th class="table-secondary align-middle" style="width: 20%;">排便の回数</th>
            <td class="align-middle" style="width: 30%;"><%= child.number_of_defecation %></td>
          </tr>
          <tr>
            <th class="table-secondary align-middle" style="width: 20%;">好きな遊び</th>
            <td class="align-middle" style="width: 30%;"><%= child.favorite_game %></td>
            <th class="table-secondary align-middle" style="width: 20%;">好きなおもちゃ</th>
            <td class="align-middle" style="width: 30%;"><%= child.favorite_toy %></td>
          </tr>
          <tr>
            <th class="table-secondary align-middle" style="width: 20%;">かかりつけ医</th>
            <td class="align-middle" style="width: 30%;"><%= child.hospital_name %></td>
            <th class="table-secondary align-middle" style="width: 20%;">かかりつけ医電話番号</th>
            <td class="align-middle" style="width: 30%;"><%= child.hospital_telephone_number %></td>
          </tr>
          <tr>
            <th class="table-secondary align-middle" style="width: 20%;">その他連絡事項</th>
            <td colspan="3" class="align-middle" style="width:80%;"><%= child.memo %></td>
          </tr>
        </tbody>
      </table><br><br>
      </div>
      <% end %>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-xl-11 col-lg-11 mx-auto">
        <p class="font-weight-bold" id="family">お子さまの家族</p>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-11 col-lg-11 mx-auto">
      <% @active_families.each do |family| %>
        <div class="table-responsive">
        <table class="table border border-black">
        <tbody>
          <tr>
            <th class="align-middle table-secondary" style="width: 30%;">氏名</th>
            <td class="align-middle" style="width: 70%;"><%= family.last_name %><%= family.first_name %></td>
          </tr>
          <tr>
            <th class="align-middle table-secondary" style="width: 30%;">フリガナ</th>
            <td class="align-middle" style="width: 70%;"><%= family.last_name_kana %><%= family.first_name_kana %></td>
          </tr>
          <tr>
            <th class="align-middle table-secondary" style="width: 30%;">続柄</th>
            <td class="align-middle" style="width: 70%;"><%= relationship_i18n_text(family) %></td>
          </tr>
          <tr>
            <th class="align-middle table-secondary" style="width: 30%;">性別</th>
            <td class="align-middle" style="width: 70%;">
              <% if family.male %>
              <span>男</span>
              <% else %>
              <span>女</span>
              <% end %>
            </td>
          </tr>
          <tr>
            <th class="align-middle table-secondary" style="width: 30%;">生年月日</th>
            <td class="align-middle" style="width: 70%;"><%= family.birthday.strftime("%Y年%m月%d日") %></td>
          </tr>
          <tr>
            <th class="align-middle table-secondary" style="width: 30%;">電話番号</th>
            <td class="align-middle" style="width: 70%;"><%= family.telephone_number %></td>
          </tr>
          <tr>
            <th class="align-middle table-secondary" style="width: 30%;">勤務先</th>
            <td class="align-middle" style="width: 70%;"><%= family.workplace %></td>
          </tr>
          <tr>
            <th class="align-middle table-secondary" style="width: 30%;">勤務先電話番号</th>
            <td class="align-middle" style="width: 70%;"><%= family.workplace_telephone_number %></td>
          </tr>
        </body>
      </table><br>
      </div>
      <% end %>
    </div>
  </div>

  <div class="row mt-5">
    <div class="mx-auto">
      <%= link_to "戻る", :back, class: "btn btn-outline-warning px-4" %>
    </div><br><br><br><br>
  </div>
</div>

