<div class="container mt-3">
  <div class="row">
    <div class="mx-auto">
    <h2 class="font-weight-bold mb-5"><%= current_facility.name %>献立一覧</h2>
    </div>
  </div>

  <%= render 'facility/searches/menu_search' %>

  <div class="row mt-5">
    <div class="col-xl-12 col-lg-12 text-right">
    <%= link_to "献立登録", new_facility_menu_path, class: "btn btn-custom px-4 font-weight-bold mr-3" %>
    </div>
  </div>

  <%= render 'index', menus: @menus, current_facility: @facility %>

  <div class="row mt-5">
    <div class="mx-auto">
      <%= paginate @menus %>
    </div>
  </div>

  <div class="row mt-5 mb-5">
    <div class="mx-auto">
      <%= link_to "戻る", :back, class: "btn btn-outline-secondary px-4" %>
    </div>
  </div>
</div>