<div class="container mt-3">
  <div class="row">
    <div class="mx-auto">
    <h2 class="font-weight-bold mb-5">献立新規登録</h2>
    </div>
  </div>

  <div class="row">
    <% if @menu.errors.any? %>
    <div class="col-xl-10 col-lg-10 mx-auto alert alert-info" role="alert">
      <%= @menu.errors.count %>件のエラーが発生しました
      <ul>
        <% @menu.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
  </div>

  <%= form_with model: @menu, url: facility_menus_path, method: :post do |f| %>
  <div class="row">
    <div class="col-xl-8 col-lg-8 mx-auto">
      <div class="form-group">
        <%= f.label :"日付", class: "font-weight-bold" %><br>
        <%= f.date_select :date, {start_year: Date.current.year, end_year: Date.current.year + 10, prompt: { year: '年', month: '月', day: '日' }}, value: f.object.date %>
      </div><br>
      <div class="form-group">
        <%= f.label :"給食", class: "font-weight-bold" %><br>
        <%= f.text_area :school_lunch, placeholder: "ごはん、しいたけのすまし汁、豚肉と厚揚げの味噌炒め、小松菜のおひたし、オレンジ", class: "form-control", id: "exampleFormControlTextarea1", rows: "4", value: f.object.school_lunch %>
      </div><br>
      <div class="form-group">
        <%= f.label :"おやつ", class: "font-weight-bold" %><br>
        <%= f.text_field :snack, placeholder: "麦茶、かわめごはん", class: "form-control", value: f.object.snack %>
      </div><br>
      <div class="form-group">
        <%= f.label :"食材", class: "font-weight-bold" %><br>
        <%= f.text_area :ingredient, placeholder: "米、椎茸、玉ねぎ、にんじん、油、三温糖、麩、豚肉、厚揚げ、味噌、小松菜、キャベツ、かつお節、オレンジ、わかめ、米", class: "form-control", id: "exampleFormControlTextarea1", rows: "4", value: f.object.ingredient %>
      </div><br>
    </div>
  </div>

  <div class="row mt-3 mb-5">
    <div class="mx-auto">
      <%= f.hidden_field :facility_id, :value => current_facility.id %>
      <%= link_to "戻る", :back, class: "btn btn-outline-secondary px-4 mr-5" %><%= f.submit "献立を登録", class: "font-weight-bold btn btn-custom px-4" %>
    </div>
  </div>
  <% end %><br><br>
</div>