<div class="container mt-5">
  <div class="row">
    <div class="mx-auto">
    <h2>お子さま情報登録</h2><br>
    
    <%= form_with model: @child, url: children_path, method: :post do |f| %>
      <p>*印の項目は必須項目です。</p>
      <p>【お子さま情報】</p>
      <div class="field">
        <%= f.label :"お子さま氏名*" %><br>
        <%= f.label :"(姓)" %>
        <%= f.text_field :last_name, autofocus: true, autocomplete: "name", placeholder: "令和", class: "form-control" %><br>
        <%= f.label :"(名)" %>
        <%= f.text_field :first_name, autocomplete: "name", placeholder: "花子", class: "form-control" %><br>
      </div><br>
      <div class="field">
        <%= f.label :"フリガナ*" %><br>
        <%= f.label :"(セイ)" %>
        <%= f.text_field :last_name_kana, autocomplete: "name", placeholder: "レイワ", class: "form-control" %><br>
        <%= f.label :"(メイ)" %>
        <%= f.text_field :first_name_kana, autocomplete: "name", placeholder: "ハナコ", class: "form-control" %><br>
      </div><br>
      <div class="field">
        <%= f.label :"生年月日*" %><br>
        <%= f.text_field :date_of_birth, autocomplete: "", placeholder: "レイワ", class: "form-control" %><br>
      </div><br>
      <div class="field">
        <%= f.label :"性別*" %><br>
        <%= f.text_field :male, autocomplete: "", placeholder: "レイワ", class: "form-control" %><br>
      </div><br>
      
      <p>【成育状況】</p>
      <div class="field">
        <%= f.label :"平熱" %><br>
        <%= f.text_field :normal_body_temperature, autocomplete: "", placeholder: "レイワ", class: "form-control" %>℃<br>
      </div><br>
      <div class="field">
        <%= f.label :"発熱時は" %><br>
        <%= f.text_field :fever, autocomplete: "", placeholder: "レイワ", class: "form-control" %>℃で連絡<br>
      </div><br>
      <div class="field">
        <%= f.label :"熱性痙攣の有無は？*" %><br>
        <%= f.text_field :has_febrile_seizure, autocomplete: "", placeholder: "レイワ", class: "form-control" %><br>
      </div><br>
      <div class="field">
        <%= f.label :"有と答えた方は熱性痙攣が起きた時の詳細をご記入ください。" %><br>
        <%= f.text_field :febrile_seizure_details, autocomplete: "", placeholder: "レイワ", class: "form-control" %><br>
      </div><br>
      <div class="field">
        <%= f.label :"脱臼の有無は？*" %><br>
        <%= f.text_field :has_dislocation, autocomplete: "", placeholder: "レイワ", class: "form-control" %><br>
      </div><br>
      <div class="field">
        <%= f.label :"有と答えた方は脱臼の詳細についてご記入ください。" %><br>
        <%= f.text_field :dislocation_details, autocomplete: "", placeholder: "レイワ", class: "form-control" %><br>
      </div><br>
      <div class="field">
        <%= f.label :"アレルギーの有無は？*" %><br>
        <%= f.text_field :has_allergy, autocomplete: "", placeholder: "レイワ", class: "form-control" %><br>
      </div><br>
      <div class="field">
        <%= f.label :"有と答えた方アレルギーの詳細をご記入ください。" %><br>
        <%= f.text_field :allergy_details, autocomplete: "", placeholder: "レイワ", class: "form-control" %><br>
      </div><br>
      <div class="field">
        <%= f.label :"授乳状況について選択してください。" %><br>
        <%= f.text_field :breastfeeding_status, autocomplete: "", placeholder: "レイワ", class: "form-control" %><br>
      </div><br>
      <div class="field">
        <%= f.label :"授乳量や時間などの詳細をご記入ください。" %><br>
        <%= f.text_field :breastfeeding_amount, autocomplete: "", placeholder: "レイワ", class: "form-control" %><br>
      </div><br>
      <div class="field">
        <%= f.label :"授乳後の状況について選択してください。" %><br>
        <%= f.text_field :situation_after_breastfeeding, autocomplete: "", placeholder: "レイワ", class: "form-control" %><br>
      </div><br>
      <div class="field">
        <%= f.label :"離乳食後のミルクは？" %><br>
        <%= f.text_field :milk_situation_after_baby_food, autocomplete: "", placeholder: "レイワ", class: "form-control" %><br>
      </div><br>
      <div class="field">
        <%= f.label :"離乳食後のミルクの量は？" %><br>
        <%= f.text_field :amount_of_milk_after_baby_food, autocomplete: "", placeholder: "レイワ", class: "form-control" %>CC<br>
      </div><br>
      <div class="field">
        <%= f.label :"離乳食の現在の進み具合は？" %><br>
        <%= f.text_field :baby_food_progress, autocomplete: "", placeholder: "レイワ", class: "form-control" %><br>
      </div><br>
      <div class="field">
        <%= f.label :"食欲について選択してください。" %><br>
        <%= f.text_field :appetite, autocomplete: "", placeholder: "レイワ", class: "form-control" %><br>
      </div><br>
      <div class="field">
        <%= f.label :"お子さまの好きな食べ物をご記入ください。" %><br>
        <%= f.text_field :favorite_food, autocomplete: "", placeholder: "レイワ", class: "form-control" %><br>
      </div><br>
      <div class="field">
        <%= f.label :"お子さまの嫌いな食べ物をご記入ください。" %><br>
        <%= f.text_field :hated_food, autocomplete: "", placeholder: "レイワ", class: "form-control" %><br>
      </div><br>
      <div class="field">
        <%= f.label :"食べ方を選択してください。" %><br>
        <%= f.text_field :how_to_eat, autocomplete: "", placeholder: "レイワ", class: "form-control" %><br>
      </div><br>
      <div class="field">
        <%= f.label :"食事をする時間は？" %><br>
        <%= f.text_field :meal_time, autocomplete: "", placeholder: "レイワ", class: "form-control" %>分<br>
      </div><br>
      <div class="field">
        <%= f.label :"寝かせ方は？(複数選択科可)" %><br>
        <%= f.text_field :how_to_lay_it_down, autocomplete: "", placeholder: "レイワ", class: "form-control" %><br>
      </div><br>
      <div class="field">
        <%= f.label :"寝つきは？" %><br>
        <%= f.text_field :falling_asleep, autocomplete: "", placeholder: "レイワ", class: "form-control" %><br>
      </div><br>
      <div class="field">
        <%= f.label :"寝起きは？" %><br>
        <%= f.text_field :waking_up, autocomplete: "", placeholder: "レイワ", class: "form-control" %><br>
      </div><br>
      <div class="field">
        <%= f.label :"寝る姿勢は？(複数選択可)" %><br>
        <%= f.text_field :sleeping_position, autocomplete: "", placeholder: "レイワ", class: "form-control" %><br>
      </div><br>
      <div class="field">
        <%= f.label :"熟睡度は？" %><br>
        <%= f.text_field :is_deep_sleep, autocomplete: "", placeholder: "レイワ", class: "form-control" %><br>
      </div><br>
      <div class="field">
        <%= f.label :"寝る時の癖はありますか？" %><br>
        <%= f.text_field :habits_when_sleeping, autocomplete: "", placeholder: "レイワ", class: "form-control" %><br>
      </div><br>
      <div class="field">
        <%= f.label :"おむつの状況について選択してください。" %><br>
        <%= f.text_field :diaper_usage, autocomplete: "", placeholder: "レイワ", class: "form-control" %><br>
      </div><br>
      <div class="field">
        <%= f.label :"かぶれについて選択してください。" %><br>
        <%= f.text_field :is_sensitive_to_rash, autocomplete: "", placeholder: "レイワ", class: "form-control" %><br>
      </div><br>
      <div class="field">
        <%= f.label :"排尿は？" %><br>
        <%= f.text_field :urination, autocomplete: "", placeholder: "レイワ", class: "form-control" %><br>
      </div><br>
      <div class="field">
        <%= f.label :"排便は？" %><br>
        <%= f.text_field :defecation, autocomplete: "", placeholder: "レイワ", class: "form-control" %><br>
      </div><br>
      <div class="field">
        <%= f.label :"排便の回数についてご記入ください。" %><br>
        <%= f.text_field :number_of_defecation, autocomplete: "", placeholder: "レイワ", class: "form-control" %><br>
      </div><br>
      <div class="field">
        <%= f.label :"好きな遊びは何ですか？" %><br>
        <%= f.text_field :favorite_game, autocomplete: "", placeholder: "レイワ", class: "form-control" %><br>
      </div><br>
      <div class="field">
        <%= f.label :"好きな玩具はありますか？" %><br>
        <%= f.text_field :favorite_toy, autocomplete: "", placeholder: "レイワ", class: "form-control" %><br>
      </div><br>
      <div class="field">
        <%= f.label :"かかりつけ医療機関の名前は？" %><br>
        <%= f.text_field :hospital_name, autocomplete: "", placeholder: "レイワ", class: "form-control" %><br>
      </div><br>
      <div class="field">
        <%= f.label :"かかりつけ医療機関の電話番号は？" %><br>
        <%= f.text_field :hospital_telephone_number, autocomplete: "", placeholder: "レイワ", class: "form-control" %><br>
      </div><br>
      <div class="field">
        <%= f.label :"その他連絡事項があればご記入ください。" %><br>
        <%= f.text_field :memo, autocomplete: "", placeholder: "レイワ", class: "form-control" %><br>
      </div><br>
      
      <%= f.submit "お子さま登録", class: "btn btn-warning px-4" %>
    <% end %><br><br><br>
    </div>
  </div>
</div>