<div class="container mt-3">
  <div class="row">
    <div class="mx-auto">
      <h3 class="mb-5 font-weight-bold">施設新規登録</h3>
    </div>
  </div>

  <div class="row">
    <% if @facility.errors.any? %>
    <div class="col-xl-8 col-lg-8 mx-auto alert alert-info" role="alert">
      <%= @facility.errors.count %>件のエラーが発生しました
      <ul>
        <% @facility.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
  </div>

  <div class="row">
    <div class="col-xl-8 col-lg-8 mx-auto">
      <%= form_with model: @facility, url: '/admin/facilities', method: :post do |f| %>
        <p class="red">*印の項目は必須項目です。</p>
        <div class="field">
          <%= f.label :name, "施設名", class: "font-weight-bold" %><span class="red">*</span><br>
          <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "令和こども園", class: "form-control" %>
        </div><br>
        <div class="field">
          <%= f.label :name_kana, "フリガナ", class: "font-weight-bold" %><span class="red">*</span><br>
          <%= f.text_field :name_kana, autocomplete: "name_kana", placeholder: "レイワコドモエン", class: "form-control" %>
        </div><br>
        <div class="field">
          <%= f.label :postal_code, "郵便番号(ハイフンなし)", class: "font-weight-bold" %><span class="red">*</span><br>
          <%= f.text_field :postal_code, autocomplete: "postal-code", placeholder: "0000000", class: "form-control" %>
        </div><br>
        <div class="field">
          <%= f.label :address, "住所", class: "font-weight-bold" %><span class="red">*</span><br>
          <%= f.text_field :address, autocomplete: "address-line1", placeholder: "静岡県静岡市葵区追手町0-0", class: "form-control" %>
        </div><br>
        <div class="field">
          <%= f.label :telephone_number, "電話番号(ハイフンなし)", class: "font-weight-bold" %><span class="red">*</span><br>
          <%= f.text_field :telephone_number, autocomplete: "tel", placeholder: "00000000000", class: "form-control" %>
        </div><br>
        <div class="field">
          <%= f.label :email, "メールアドレス", class: "font-weight-bold" %><span class="red">*</span><br>
          <%= f.email_field :email, autocomplete: "email", placeholder: "hoge@example.com", class: "form-control" %>
        </div><br>
        <div class="field">
          <%= f.label :website, "HP", class: "font-weight-bold" %><span class="red">*</span><br>
          <%= f.text_field :website, placeholder: "http://www.reiwakodomoen.co.jp", class: "form-control" %>
        </div><br>
        <div class="field">
          <%= f.label :business_day, "営業日", class: "font-weight-bold" %><span class="red">*</span><br>
          <%= f.text_field :business_day, placeholder: "月曜日〜土曜日", class: "form-control" %>
        </div><br>
        <div class="field">
          <%= f.label :business_hours, "営業時間", class: "font-weight-bold" %><span class="red">*</span><br>
          <%= f.text_field :business_hours, placeholder: "07:00 〜 19:00", class: "form-control" %>
        </div><br>
        <div class="field">
          <%= f.label :inquiry_hours, "問い合わせ時間", class: "font-weight-bold" %><span class="red">*</span><br>
          <%= f.text_field :inquiry_hours, placeholder: "08:30 〜 18:00", class: "form-control" %>
        </div><br>
        <div class="field">
          <%= f.label :closed_day, "休園日", class: "font-weight-bold" %><span class="red">*</span><br>
          <%= f.text_field :closed_day, placeholder: "日曜日、祝日、年末年始", class: "form-control" %>
        </div><br>
        <div class="field">
          <%= f.label :childcare_hours, "一時預かり保育時間", class: "font-weight-bold" %><span class="red">*</span><br>
          <%= f.text_field :childcare_hours, placeholder: "08:30 〜 16:30", class: "form-control" %>
        </div><br>
        <div class="field">
          <%= f.label :target_age, "受け入れ年齢", class: "font-weight-bold" %><span class="red">*</span><br>
          <%= f.text_field :target_age, placeholder: "産休明けから小学校就学前", class: "form-control" %>
        </div><br>
        <div class="field">
          <%= f.label :school_meal, "給食の有無", class: "font-weight-bold" %><span class="red">*</span><br>
          <%= f.text_field :school_meal, placeholder: "給食・おやつあり", class: "form-control" %>
        </div><br>
        <div class="field">
          <%= f.label :fee, "利用料金", class: "font-weight-bold" %><span class="red">*</span><br>
          <%= f.text_field :fee, placeholder: "1日利用料1,750円＋給食おやつ代250円＝2,000円", class: "form-control" %>
        </div><br>
        <div class="field">
          <%= f.label :message, "施設からのメッセージ", class: "font-weight-bold" %><span class="red">*</span><br>
          <%= f.text_area :message, placeholder: "子どもたちが笑顔になれる園であるようその子その子に合わせた教育と保育を目指します。", class: "form-control", id: "exampleFormControlTextarea1", rows: "4" %>
        </div><br>
        <div class="field">
          <%= f.label :password, "パスワード", class: "font-weight-bold" %><span class="red">*</span><br>
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
        </div><br>
        <div class="field">
          <%= f.label :password_confirmation, "パスワード(確認用)", class: "font-weight-bold" %><span class="red">*</span><br>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
        </div>
      </div>
    </div>

  <div class="row mt-5 mb-5">
    <div class="mx-auto">
        <%= link_to "戻る", :back, class: "font-weight-bold btn btn-outline-secondary px-4 mr-5" %>
        <%= f.submit "新規登録", class: "font-weight-bold btn btn-custom px-4" %>
      <% end %>
    </div>
  </div>
</div>
