<div class="container mt-3">
  <div class="row">
    <div class="mx-auto">
      <h2 class="font-weight-bold mb-5">施設詳細</h3>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-xl-11 col-lg-11 text-right ml-5">
      <% if @facility.is_active %>
        <%= link_to "予約カレンダー", admin_facility_situation_path(@facility.id), class: "font-weight-bold btn btn-custom px-4" %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-11 col-lg-11 mx-auto">
      <div class="table-responsive">
      <table class="table border border-black table-light">
        <tbody>
          <tr>
            <th class="table-secondary align-middle">施設ID</th>
            <td class="align-middle"><%= @facility.id %></td>
          </tr>
          <tr>
            <th class="table-secondary align-middle">施設名</th>
            <td class="align-middle"><%= @facility.name %></td>
          </tr>
          <tr>
            <th class="table-secondary align-middle">フリガナ</th>
            <td class="align-middle"><%= @facility.name_kana %></td>
          </tr>
          <tr>
            <th class="table-secondary align-middle">住所</th>
            <td class="align-middle">〒<%= @facility.postal_code %><br>
                <%= @facility.address %>
            </td>
          </tr>
          <tr>
            <th class="table-secondary align-middle">電話番号</th>
            <td class="align-middle"><%= @facility.telephone_number %></td>
          </tr>
          <tr>
            <th class="table-secondary align-middle">メールアドレス</th>
            <td class="align-middle"><%= @facility.email %></td>
          </tr>
          <tr>
            <th class="table-secondary align-middle">HP</th>
            <td class="align-middle"><%= @facility.website %></td>
          </tr>
          <tr>
            <th class="table-secondary align-middle">営業日</th>
            <td class="align-middle"><%= @facility.business_day %></td>
          </tr>
          <tr>
            <th class="table-secondary align-middle">営業時間</th>
            <td class="align-middle"><%= @facility.business_hours %></td>
          </tr>
          <tr>
            <th class="table-secondary align-middle">問い合わせ時間</th>
            <td class="align-middle"><%= @facility.inquiry_hours %></td>
          </tr>
          <tr>
            <th class="table-secondary align-middle">休園日</th>
            <td class="align-middle"><%= @facility.closed_day %></td>
          </tr>
          <tr>
            <th class="table-secondary align-middle">一時預かり保育時間</th>
            <td class="align-middle"><%= @facility.childcare_hours %></td>
          </tr>
          <tr>
            <th class="table-secondary align-middle">受け入れ年齢</th>
            <td class="align-middle"><%= @facility.target_age %></td>
          </tr>
          <tr>
            <th class="table-secondary align-middle">給食の有無</th>
            <td class="align-middle"><%= @facility.school_meal %></td>
          </tr>
          <tr>
            <th class="table-secondary align-middle">利用料金</th>
            <td class="align-middle"><%= @facility.fee %></td>
          </tr>
          <tr>
            <th class="table-secondary align-middle">施設からのメッセージ</th>
            <td class="align-middle"><%= @facility.message %></td>
          </tr>
          <tr>
            <th class="table-secondary align-middle">施設ステータス</th>
            <td class="align-middle">
              <% if @facility.is_active %>
                <span>有効</span>
              <% else %>
                <span class="text-secondary font-weight-bold">閉園</span>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
      </div>
    </div>
  </div>

  <div class="row mt-5 mb-5">
    <div class="mx-auto">
      <%= link_to "戻る", :back, class: "btn btn-outline-secondary px-4 mr-5" %>
      <% if @facility.is_active %>
        <%= link_to "修正", edit_admin_facility_path(@facility.id), class: "font-weight-bold btn btn-custom px-4" %><br><br>
      <% end %>
    </div>
  </div>
</div>

