<div class="container mt-5">
  <div class="row">
    <div class="mx-auto">
      <h3 class="mb-3">施設詳細</h3>
      <table class="table">
        <tbody>
          <tr>
            <th>施設ID</th>
            <td><%= @facility.id %></td>
          </tr>
          <tr>
            <th>施設名</th>
            <td><%= @facility.name %></td>
          </tr>
          <tr>
            <th>フリガナ</th>
            <td><%= @facility.name_kana %></td>
          </tr>
          <tr>
            <th>住所</th>
            <td>〒<%= @facility.postal_code %><br>
                <%= @facility.address %>
            </td>
          </tr>
          <tr>
            <th>電話番号</th>
            <td><%= @facility.telephone_number %></td>
          </tr>
          <tr>
            <th>メールアドレス</th>
            <td><%= @facility.email %></td>
          </tr>
          <tr>
            <th>HP</th>
            <td><%= @facility.website %></td>
          </tr>
          <tr>
            <th>営業日</th>
            <td><%= @facility.business_day %></td>
          </tr>
          <tr>
            <th>営業時間</th>
            <td><%= @facility.business_hours %></td>
          </tr>
          <tr>
            <th>問い合わせ時間</th>
            <td><%= @facility.inquiry_hours %></td>
          </tr>
          <tr>
            <th>休園日</th>
            <td><%= @facility.closed_day %></td>
          </tr>
          <tr>
            <th>保育時間</th>
            <td><%= @facility.childcare_hours %></td>
          </tr>
          <tr>
            <th>受け入れ年齢</th>
            <td><%= @facility.target_age %></td>
          </tr>
          <tr>
            <th>給食の有無</th>
            <td><%= @facility.school_meal %></td>
          </tr>
          <tr>
            <th>利用料金</th>
            <td><%= @facility.fee %></td>
          </tr>
          <tr>
            <th>施設からのメッセージ</th>
            <td><%= @facility.message %></td>
          </tr>
          <tr>
            <th>施設ステータス</th>
            <td><% if @facility.is_active %>
                <p class="text-success"><strong>有効</strong></p>
                <% else %>
                <p class="text-secondary"><strong>閉園</strong></p>
                <% end %>
            </td>
          </tr>
        </tbody>
      </table><br><br>
      <%= link_to "戻る", :back, class: "btn btn-outline-warning px-4 mr-5" %>
      <%= link_to "修正", edit_admin_facility_path(@facility.id), class: "btn btn-warning px-4" %><br><br>
    </div>
  </div>
</div>

