<div class="container mt-3">
  <div class="row">
    <div class="mx-auto">
      <h2 class="font-weight-bold mb-5">施設管理者ログイン</h2>
    </div>
  </div>

  <%= form_with model: @facility, url: facility_session_path do |f| %>
  <div class="row">
    <div class="col-xl-8 col-lg-8 mx-auto">
      <div class="field">
        <%= f.label :email, "メールアドレス", class: "font-weight-bold" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div><br>
      <div class="field">
        <%= f.label :password, "パスワード", class: "font-weight-bold" %><br />
        <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
      </div><br><br>
    </div>
  </div>

  <div class="row">
    <div class="mx-auto">
      <div class="actions">
        <%= f.submit "ログイン", class: "font-weight-bold btn btn-custom px-4" %>
      </div>
    </div>
  </div>
  <% end %>

  <div class="row mb-5">
    <div class="mx-auto">
    <%= render "facility/shared/links" %>
    </div>
  </div>
</div>

