<div class="container mt-3">
  <div class="row">
    <div class="mx-auto">
    <h2 class="font-weight-bold">本日の予約</h2>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-xl-12 col-lg-12">
      <% if @reservations.any? %>
        <div class="table-responsive">
          <table class="table border border-black table-light">
            <thead>
              <tr class="text-center">
                <th class="table-secondary align-middle">日時</th>
                <th class="table-secondary align-middle">お子さま氏名</th>
                <th class="table-secondary align-middle">年齢</th>
                <th class="table-secondary align-middle">ステータス</th>
                <th class="table-secondary align-middle"></th>
              </tr>
            </thead>
              <tbody>
                <% @reservations.each do |reservation| %>
                <tr>
                  <td class="align-middle"><%= reservation.day.strftime('%Y年%m月%d日 ') %><%= japanese_day(reservation.day) %>　<%= reservation.start_time.strftime('%H:%M') %>　〜　<%= reservation.end_time.strftime('%H:%M') %></td>
                  <td class="align-middle"><%= reservation.child.last_name %><%= reservation.child.first_name %></td>
                  <td class="align-middle text-center"><%= reservation.child.birthday.strftime("%Y年%m月%d日") %>（<%= age_in_years(reservation.child.birthday) %>歳<%= age_in_months(reservation.child.birthday) %>ヶ月）</td>
                  <td class="align-middle text-center">
                    <% if reservation.is_valid_reservation %>
                      <span>有効</span>
                    <% else %>
                      <span class="text-secondary font-weight-bold">キャンセル</span>
                    <% end %>
                  </td>
                  <td class="align-middle text-center"><%= link_to "詳細", admin_facility_path(reservation.id), class: "font-weight-bold btn btn-custom px-4" %></td>
                </tr>
                <% end %>
              </tbody>
          </table>
        </div>
      <% else %>
        <h4 class="mt-5 mb-5 text-center">本日の予約はありません。</p>
      <% end %>
    </div>
  </div><br><br><br>


  <div class="row mt-5 mb-5">
    <div class="mx-auto mb-5">
      <%= link_to "戻る", :back, class: "btn btn-outline-secondary px-4" %>
    </div>
  </div>
</div>